PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/file_storage_db
SESSION_SECRET=your_random_session_secret_key_here
FILE_ENCRYPTION_KEY=32_character_hex_key_for_aes_256_at_rest_encryption
APP_NAME=SecureVault
APP_TAGLINE=Web-Based Secure File Storage & Access Management System
UPLOAD_DIR=secure_storage/files
AVATAR_DIR=secure_storage/avatars
